**/export/*
.DS_store
node_modules
userDataDir

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist

assets/temp.ass
assets/temp.mp4


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

#cache
.turbo
.next
.vercel

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*


# local env files
.env*

out/
/build/
dist/

# bpp - http://bpp.browser.market/
keys.json

# typescript
.tsbuildinfo

sample-mp4-file.mp4

metafile-*.json

tsup.*.bundled_*.mjs

vite.client.dev.js