.border-1{
  border-width: 1px;
}
.f-i-center{
  display: flex;
  align-items: center;
}
.f-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.absolute{
  position: absolute;
}
.relative{
  position: relative;
}

.c-main{
  color: var(--color-main);
}

h1,h2,h3,h4,h5{
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-family: var(--font-family);
}
h3{
  font-size: 18px;
}
#app{
  /* font-family: var(--t-re); */
}

.ab-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.t-b{
  font-weight: 600;
}
.t-l{
  color: rgba(0, 0, 0, 0.65);
  font-weight: 400;
}
.t-n{
  font-weight: 400;
  font-family: var(--t-re);
}
.t-re{
  font-family: var(--t-re);
}

@font-face {
  /* font-weight: 600; */
  font-family: Roboto-Medium;
  src: url("../assets/font/roboto/roboto-v20-latin-500.woff2") format("woff2"),
    url("../assets/font/roboto/roboto-v20-latin-500.woff") format("woff");
}
@font-face {
  font-family: Roboto-Bold;
  src: url("../assets/font/roboto/roboto-v20-latin-700.woff2") format("woff2"),
    url("../assets/font/roboto/roboto-v20-latin-700.woff") format("woff");
}
@font-face {
  font-family: Roboto-Regular;
  src: url("../assets/font/roboto/roboto-v20-latin-regular.woff2") format("woff2"),
    url("../assets/font/roboto/roboto-v20-latin-regular.woff") format("woff");
}
@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url("../assets/font/roboto/roboto-v20-latin-regular.woff2") format("woff2"),
    url("../assets/font/roboto/roboto-v20-latin-regular.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../assets/font/roboto/roboto-v20-latin-500.woff2") format("woff2"),
    url("../assets/font/roboto/roboto-v20-latin-500.woff") format("woff");
}

@font-face {
  font-weight: 600;
  font-family: "Roboto";
  font-style: normal;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../assets/font/roboto/roboto-v20-latin-700.woff2") format("woff2"),
    url("../assets/font/roboto/roboto-v20-latin-700.woff") format("woff");
}

html body {
  margin: 0;
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-family: var(--font-family);
  font-variant: tabular-nums;
  line-height: 1.5715;
  background-color: #fff;
  font-feature-settings: "tnum"
}
p{
  margin: 0;
}
*{
  box-sizing: border-box;
}

/* simple animation */

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(0.8, 0.8);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shift-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
